{% extends 'main/base.html' %}

    {% block content %}
    
    
    <div class="wrapper"> 
        <ul>
            {% if user.is_authenticated %}
                <li> <span> <a href="{% url 'logout' %}"> Logout</a></span> </li>
                <hr>
            {%else%}
                <li> <span> <a href="{% url 'login' %}"> login</a></span> </li>
                <hr>
                <li> <span> <a href="{% url 'signup' %}"> Signup</a></span></li>
                <hr>
            {%endif%}
            <li> <span> <a href="{% url 'edit_profile' %}"> Edit profile </a></span> </li>
            <hr>
            <li> <span> <a href="{% url 'edit_profile' %}">Terms and Conditions </a></span></li>
            <hr>
            <li> <span> <a href="{% url 'edit_profile' %}">Privacy Policy</a></span></li>
            <hr>
            <li> <span> <a href="{% url 'edit_profile' %}">Rate this app </a></span></li>
            <hr>
            <li> <span> <a href="{% url 'edit_profile' %}">Share this app </a></span></li>
        </ul>
    </div>
    
    <style>
        .wrapper{
            padding:5%
        }
    </style>
    {% endblock %}