{% extends 'main/base.html' %}
{% block content %}

<ul>
    {% for article in articles %}
        <li>
           <div class="imagewrapper"> <span class="image"> {{article.author.user.username|slice:"1"|title}}</span> <small> by {{article.author.user}}</small></div>
            <div>
                <a href="{% url 'article_details' pk=article.id  slug=article.slug  %}"> <h4>{{article.title|title}} </h4> </a> 
                
                <p class="snippet"> {{ article.snippet|safe }} </p>
                <p class="post_engangement">
                   <span> <img src="https://img.icons8.com/sf-regular/25/undefined/facebook-like.png"/ class="icon1" >{{article.likes.count}} </span> 
                   <span> <img src="https://img.icons8.com/fluency-systems-regular/18/000000/comments--v1.png" class="icon" />  {{article.comments.count}}</span> 
                </p>
                <p> 
                    {% for tag in article.tags.all %}
                    <small class="tag"> <a href="{% url 'tagfilter' slug=tag.id %} "> {{tag}} </a>,</small>
                    {% endfor %}
                </p>
            </div> 
        </li>
        <hr>
   
    {% endfor%}
</ul>
<style>


</style>
{% endblock %}



    
