{% extends 'main/base.html' %}
  
    {% block content %}
    {% load static %}

   
   <div class="prompt-wrapper">{{prompt.topic}}
        <span onclick="popup()" class="writefloat"> <img src="https://img.icons8.com/ios-filled/30/477b72/plus-2-math.png"/>
            <br>
            <small> <strong> Write</strong></small>
        </span>
    </div> 

    {% for item in prompt.prompt.all %}
    <div class="prompt-article">
       <div class="imagewrapper"> <span class="image"> {{item.author.user.username|slice:"1"|title}}</span> <small> by {{item.author.user.get_full_name }}</small></div>
        <p style="color: var(--primary-color);"> 
         {{ item.body|safe }}
        </p>
       <p class="post_engangement">
        <span> <img src="https://img.icons8.com/sf-regular/25/undefined/facebook-like.png"/ class="icon1" >{{item.likes.all.count}} </span> 
        <span> <img src="https://img.icons8.com/fluency-systems-regular/18/000000/comments--v1.png" class="icon" />  {{item.writeupsComments.count}}</span> 
     </p>
    </div>
    <hr>
    {% endfor %}


<div class="popup" id="popup">
   <button onclick="popup()"> Back </button>
    <form   method="post">
    {% csrf_token %}
        {{form.title}}
        {{form.body}}
        {{form.media|safe}}
        <input type="submit" value="Send" class="submitbtn">
    </form>
    

</div>

<style>
    .popup{
        width:100%;
        margin:auto;
        height: 100vh;
        position: absolute;
        left:0;
        z-index:2;
        background-color: white;
        top:0;
        display: none;
  
    }
    .prompt-article{
        margin-block: 15px;
    }
    .writefloat{
        position: absolute;
        bottom:10%;
        right:5%;
        color:var(--primary-color)
        
    }
</style>
<script> 
function popup () {
    
    let popup = document.getElementById('popup')
    if (popup.style.display == "block" ) {
        popup.style.display = "none";
    }
    else{
        popup.style.display = "block";
    }

    }
</script>

    {% endblock %}